header {
  position: relative;
  z-index: 2;
  padding: 0 clamp(1.5em, 3vw, 3em);

  width: 100vw;
  height: 12vh;

  display: flex;
  align-items: center;
  justify-content: space-between;

  img {
    height: 80%;
    object-fit: cover;
  }

  a {
    text-decoration: none;
  }

  button {
    padding: clamp(0.25em, 3vw, 0.45em) clamp(0.5em, 3vw, 1em);
    font-family: var(--fontHeading);
    font-size: clamp(0.9em, 3vw, 1.2em);
    background: #e55b77;
    color: #fff;
    font-weight: 500;
    border: 0;
    border-radius: 10px;
    cursor: pointer;

    &:focus {
      outline: 0;
    }
  }

  @media only screen and (max-width: 500px) {
    img {
      height: 60% !important;
    }

    button {
      border-radius: 5px;
    }
  }
}
