.done {
  position: relative;
  z-index: 2;
  width: 100vw;
  height: calc(100vh - var(--navHeight));

  display: grid;
  place-items: center;

  padding: 0 clamp(1.5em, 3vw, 2em);

  .content {
    width: 60%;
    height: 85%;
    background: rgba(99, 130, 241, 0.77);

    border-radius: 10px;

    font-family: var(--fontContent);
    color: #fff;

    overflow: hidden;

    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;

    img {
      width: 30%;
      object-fit: cover;
      border-radius: 50%;
    }

    p {
      text-align: center;
      width: 80%;
      font-size: clamp(1.5em, 3vw, 2em);

      span {
        font-size: clamp(0.7em, 2vw, 0.9em);
        font-weight: 300;
      }
    }
  }

  @media only screen and (max-width: 500px) {
    .content {
      width: 100%;
      padding: 0 0.5em;
      p {
        width: 100%;
      }
      img {
        width: 50%;
      }
    }
  }
}
