*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --fontContent: "Lato", sans-serif;
  --fontHeading: "Oswald", sans-serif;
  --navHeight: 12vh;
}

body {
  width: 100%;
  height: 100%;

  background: #536d72;
  padding: 0 2em;
}

.illustration {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 70%;
  object-fit: cover;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(2px);
}
